# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.db

# Django
*.sqlite3
db.sqlite3
*.log
*.pot
*.py[cod]

# Virtual Environment
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# Media files
/media/

# Static files
/static/

# Local configurations
*.env

# IDE files
.vscode/
.idea/
